*{
    box-sizing: border-box;
}

body{
    background: url('../images/bg.png');
    font-family: Arial, Helvetica, sans-serif;
    overflow:auto;
    color: #777;
}

h1, h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    font-weight: bold;
}

header{
    background: white;
    border-bottom: 3px solid #ccc;
    margin-bottom: 30px;
}

header h1{
    background: #4aaaa5;
    color: white;
    display: inline-block;
    padding: 30px;
    font-size: 30px;
}

nav{
    width: 300px;
    float: right;
    margin-top: 35px;
    text-align: center;
}

nav ul li{
    display: inline;
}

a{
    color: gray;
    font-size: 18px;
    padding: 5px 15px;
    border-right: 1px solid #777;
    text-decoration: none;
}

nav ul li:last-child a{
    border-right: none;
    padding-right: none;
}

nav a:hover{
    background: #4aaaa5;
    color: black;
}

p{
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 20px;
    line-height: 1.6em;
}

h2{
    font-size: 24px;
    padding: 15px 0;
    margin-bottom: 20px;
    border-bottom: 2px solid #ccc;
    color: #4aaaa5;
}

h3{
    background: #4aaaa5;
    color: white;
    text-align: center;
    padding: 15px 0;
    position: absolute;
    bottom: 5px;
    width: 100%;
}
label{
    font-size: 14px;
    display: block;
}

input, textarea{
    width: 100%;
    display: block;
    margin: 5px 0 10px 0;
    border: 1px solid #ccc;
    padding: 6px;
    font-size: 12px;
}

textarea{
    height: 180px;
}

button{
    background: #4aaaa5;
    color: white;
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 18px;
    border: none;
}

button:hover{
    cursor: pointer;
    
}
.image{
    width: 200px;
    height: 200px;
    float: left;
    margin: 0 15px 15px 0;
}

.clearfix{
    display: block;
    clear: both;
}
.wraper{
    width: 960px;
    margin: 0 auto;
}

#about-me{
    background: #ffffff;;
    padding: 10px;
    border: 1px solid #ccc;
    overflow: hidden;
}

.portfolio{
    position: relative;
    float: left;
    margin-bottom: 20px;
    margin-left: 20px;
    width: 30%;
    height: 150px;
}

footer{
    background: #666;
    border-top: 3px solid #4aaaa5;
    color: white;
    text-align: center;
    padding: 25px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#port1{
    background: url('../images/1.jpg')
}
#port2{
    background: url('../images/2.jpg')
}
#port3{
    background: url('../images/3.jpg');
    float: left;
}
#port4{
    background: url('../images/4.jpg')
}
#port5{
    background: url('../images/5.jpg')
}

/* Media Queries */
@media screen and (max-width: 980px){
    .wraper {
        width: 90%;
    }
    #about-me {
        width: 90%;
    }
}

@media screen and (max-width: 768px){
    .wraper {
        width: 90%;
    }
    #about-me {
        width: 90%;
    }
}

@media screen and (max-width: 640px){
    .wraper {
        width: 110%;
    }
    #about-me {
        width: 90%;
        margin-bottom: 50px;
    }
    nav{
        width: 110%;
    }
}